#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PYBUILD_NAME=openspp

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Remove unnecessary files
	find debian/openspp -name '*.pyc' -delete
	find debian/openspp -name '__pycache__' -type d -delete
	# Make launcher script executable
	chmod +x debian/openspp/usr/bin/openspp

override_dh_installsystemd:
	dh_installsystemd --name=openspp --no-enable --no-start